.row
    .large-12.columns
        .panel
            %h4 FaceOn
            .row
                .large-9.columns
                    %p Victima? Ahora tiene forma de reconocer al criminal!
                .large-3.columns
                    %a.radius.button.right{href:"#"}