%h4 Miscellaneous
%ul.small-block-grid-2.large-block-grid-4{"data-clearing" => ""}
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/
  %li
    %a{href: "http://placeimg.com/640/480/any"}
      %img.th{alt: "Miscellaneous", src: "http://placeimg.com/640/480/any"}/