.sitewrap
  .row.clearfix
    %aside.sidebar
      %h4.moduletitle Genero del criminal

      = form_tag "/dashboards/index" , :method => :get do
        = select_tag "filtro", options_for_select(["Todos","Masculino","Femenino"])
        %br/
        %input{type: "submit", value: "Submit"}/




    %section.main-content

      %ul.small-block-grid-2.large-block-grid-4{"data-clearing" => ""}

        - @criminals.each do |c|

          %li
            =link_to(image_tag(c.foto.url(:thumb)),  "dashboards/#{c.id}" )

