.sitewrap
  .row.clearfix
    %aside.sidebar
      %h4.moduletitle Genero del criminal
      %select
        %option{value: "2"} Todos
        %option{value: "0"} Femenino
        %option{value: "1"} Masculino
    %section.main-content

      %ul.small-block-grid-2.large-block-grid-4{"data-clearing" => ""}

        - @criminals.each do |c|

          %li
            =link_to(image_tag(c.foto.url(:thumb)),  "dashboards/#{c.id}" )


