.sitewrap
  .row.clearfix
    %aside.sidebar
      =link_to "Atras", root_path
      %h4.moduletitle Su seleccion
      %p
        %b Ficha:
        = @match_search.ficha
      %p
        = image_tag @match_search.foto.url(:thumb)
    %section.main-content

      %ul.small-block-grid-2.large-block-grid-4{"data-clearing" => ""}

        - @criminals.each do |c|

          %li
            =link_to(image_tag(c.foto.url(:thumb)),  "#{c.id}" )
            %br
            =c.ficha

